.col-md-12
  .container
    .col-md-4
      .logo
        = image_tag 'footer/owly.png'

    .col-md-6
      .contacts.row
        .col-md-5
          .left
            .phone
              .img= image_tag 'footer/phone.png'
              %p +7 (812) 498-10-00

            .email
              .img= image_tag 'footer/email.png'
              %p shop@owly.ru

        .col-md-7
          .right
            .img= image_tag 'footer/location.png'
            %p.address
              197022, Санкт-Петербург, 
              %br/
              ул. Льва Толстого, д. 9, 
              %br/
              Бизнес центр "Толстой сквер"


    .col-md-2
      .social
        .icon= link_to image_tag('footer/vk.png'), 'http://vk.com/owlyshopspb', target: '_blank'
        .icon= link_to image_tag('footer/instagram.png'), 'https://www.instagram.com/owlyshop', target: '_blank'
        .icon= link_to image_tag('footer/twitter.png'), 'https://twitter.com/owlyshopspb', target: '_blank'
        .icon= link_to image_tag('footer/facebook.png'), 'https://www.facebook.com/owlyshopspb', target: '_blank'

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75460426-1', 'auto');
  ga('send', 'pageview');

/ Yandex.Metrika counter
:javascript
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter36286840 = new Ya.Metrika({
                  id:36286840,
                  clickmap:true,
                  trackLinks:true,
                  accurateTrackBounce:true
              });
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
%noscript
  %div
    %img{:alt => "", :src => "https://mc.yandex.ru/watch/36286840", :style => "position:absolute; left:-9999px;"}/
/ /Yandex.Metrika counter