.col-md-12
  .container
    .col-md-4.logo
      .logo
        = link_to image_tag('header/logo.png'), root_path

    .col-md-5.search.form
      = form_tag pages_search_path do
        = text_field_tag :query, nil, placeholder: 'Поиск по сайту'
        = submit_tag 'Найти', class: 'btn btn-green'

    .col-md-3.contacts
      .social
        .icon= mail_to 'shop@owly.ru', image_tag('header/email.png')
        .icon= link_to image_tag('header/vk.png'), 'http://vk.com/owlyshopspb'
        .icon= link_to image_tag('header/instagram.png'), 'https://www.instagram.com/owlyshop'
        .icon= link_to image_tag('header/twitter.png'), 'https://twitter.com/owlyshopspb'
        .icon= link_to image_tag('header/facebook.png'), 'https://www.facebook.com/owlyshopspb'
        .icon= link_to image_tag('header/youtube.png'), 'https://www.youtube.com/channel/UC_IlJ71Pes4q0ttKCpQs_iw'

      .telephone
        = image_tag 'header/phone.png'
        %span +7 (812) 498-10-00

      .schedule
        %p Мы работаем с 10:00 до 18:00

      .call-back
        = link_to 'Заказать обратный звонок', '#0', class: 'cd-popup-trigger uppercase'


      .cd-popup{:role => "alert"}
        .cd-popup-container
          = render partial: 'questions/new'
          %a.cd-popup-close.img-replace{:href => "#0"} Close

.col-md-12.menu#menu
  .container
    %nav
      .navigation.navbar
        %ul
          %li= link_to 'Главная', root_path
          %li
            = link_to pages_our_products_path do
              Наши изделия

            %ul.dropdown
              - @categories.each do |category|
                - cache category do
                  %li= link_to category.name, category_path(category.id)

          %li= link_to 'Как заказать', pages_how_to_path
          %li= link_to 'Кто такая Оули?', pages_about_path
          %li= link_to 'Блог Оули', pages_blog_path
          %li= link_to 'Контакты', pages_contacts_path
          %li.actions.ng-cloak
            = link_to image_tag('active-favorite.png'), favorites_path
            ({{app.favoritesCount}})
          %li.actions.ng-cloak
            = link_to image_tag('header/cart.png'), cart_path
            ({{app.cartCount}})
            
      .nav_bg
        .nav_bar
          %span
          %span
          %span
          .actions
            %li.action.ng-cloak
              = link_to image_tag('active-favorite.png'), favorites_path
              ({{app.favoritesCount}})
            %li.action.ng-cloak
              = link_to image_tag('header/cart.png'), cart_path
              ({{app.cartCount}})

:javascript
  $('.nav_bar').click(function() {
    $('.navigation').toggleClass('visible');
    $('body').toggleClass('opacity');
  });
