.col-md-12
  .container
    .col-md-4.logo
      .logo
        = image_tag 'header/logo.png'

    .col-md-5.search.form
      = form_tag pages_search_path do
        = text_field_tag :query, nil, placeholder: 'Поиск по сайту'
        = submit_tag 'Найти', class: 'btn btn-green'

    .col-md-3.contacts
      .social
        .icon= link_to image_tag('header/email.png'), root_path
        .icon= link_to image_tag('header/vk.png'), root_path
        .icon= link_to image_tag('header/instagram.png'), root_path
        .icon= link_to image_tag('header/twitter.png'), root_path
        .icon= link_to image_tag('header/facebook.png'), root_path

      .telephone
        = image_tag 'header/phone.png'
        %span +7 (812) 498-10-00

      .schedule
        %p Мы работаем с 1000 до 1800

      .call-back
        = link_to 'Заказать обратный звонок', root_path, class: 'uppercase'

.col-md-12.menu#menu
  .container
    .navbar
      %ul
        %li= link_to 'Главная', root_path
        %li= link_to 'Наши изделия', pages_our_products_path
        %li= link_to 'Как заказать', pages_how_to_path
        %li= link_to 'Кто такая Оули?', pages_about_path
        %li= link_to 'Блог Оули', pages_blog_path
        %li= link_to 'Контакты', pages_contacts_path
        %li.actions.ng-cloak
          = link_to image_tag('active-favorite.png'), favorites_path
          ({{app.favoritesCount}})
        %li.actions.ng-cloak
          = link_to image_tag('header/cart.png'), cart_path
          ({{app.cartCount}})
