- products.each do |product|
  %tr
    %td= product.id
    %td= product.name
    %td= product.count
    %td шт
    %td= number_with_precision(product.price, precision: 2)
    %td= number_with_precision((product.count.to_f * product.price.to_f), precision: 2)