.container.invoice.white-bg
  .col-md-12
    .contacts-table
      = wicked_pdf_image_tag 'invoices/header.png'

    %strong.large.invoice-header
      = "Счет на оплату № #{@order.invoice_condensed_date(@monthly_orders_count)} от #{@order.invoice_from_date}"

    .line

    .contacts.col-md-12
      .row
        .left
          %strong Поставщик

        .right
          ООО"АРС", ИНН 7801182348, КПП 781301001, 197022, Санкт-Петербург г, Льва Толстого ул, дом №9, корпус лит. А, тел.: 498-1000

      %br/

      .row
        .left
          %strong Покупатель

        .right
          = @order.contact_info #decorate

    .products-table
      %table
        %tr
          %th №
          %th Товары(работы, услуги)
          %th Кол-во
          %th Ед.
          %th Цена
          %th Сумма

        = render partial: 'orders/products', locals: { products: @products }

    .result
      %table
        %tr
          %td Итого:
          %td= number_with_precision(get_total_amount(@products), precision: 2)

        %tr
          %td В том числе НДС:
          %td= number_with_precision((get_total_amount(@products) * 0.18), precision: 2)

        %tr
          %td Всего к оплате:
          %td= number_with_precision(get_total_amount(@products), precision: 2)

      %p= "Всего наименований #{@products.count}, на сумму #{number_with_precision(get_total_amount(@products), precision: 2)} руб."

    .footer
      = wicked_pdf_image_tag 'invoices/footer.png'


// SASS //
:sass
  table, th, td
    border: 1px solid black
    border-collapse: collapse

  th, td
    padding: 5px
    text-align: left

  .contacts-table, .contacts
    margin-bottom: 20px

  .line
    margin-bottom: 20px
    border-bottom: 3px solid

  .small
    font-size: 14px

  .large
    font-size: 20px

  .result
    margin-top: 10px

    table
      border: none
      margin-left: 70%

      td
        text-align: right
        font-weight: 500
        border: none
