= render partial: 'shared/seo', locals: { page: @page }

.about.page.col-md-12
  .header.row{style: "background: url(#{@page.image.url}) no-repeat"}
    .container
      %h1= @page.heading
      %p.text= raw @page.text

  .about-us.cream-bg.row
    .container
      .col-md-6
        .video
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "300", :src => "https://www.youtube.com/embed/BEa6Z5DHHac", :width => "540"}

      .col-md-6
        .how-we-work
          %h2.title Как мы изготавливаем наши изделия?
          %p.desc 
            В основе каждого изделия лежит идея. Мы стараемся совмещать красоту и практичность, понимая что вещи должны приносить пользу. А как мы это делаем, вы можете увидеть в нашем видео :)
            Мы ответственно подходим ко всему, а прежде всего к безопасности! Поэтому для производства наших изделий и последующей обработки мы выбираем только экологически чистые материалы. Наши изделия прошли сертификацию, они безопасны для детей. 

          = link_to image_tag('pages/about/certificate.jpg'), pages_certificate_path, target: '_blank'

          %p.more-information
            Узнать больше о нашем производстве и новых изделиях вы можете в блоге Оули!

          = link_to pages_blog_path, class: 'btn btn-green-transparent' do
            Перейти в блог
            = image_tag 'home/about-arrow.png', class: 'btn-transparent-img'

  .why-we-are-loved.white-bg.row
    .container
      %h1.title.text-center За что нас любят:

      .advantages.row
        .col-md-3
          .materials
            .img
              = image_tag 'pages/about/materials.png'
            %h3.advantage-title.uppercase.text-center Натуральные материалы
            %p.text-center
              Мы за естественность! Поэтому мы мастерим изделия только из натуральных материалов.

        .col-md-3
          .eco
            .img
              = image_tag 'pages/about/eco.png'
            %h3.advantage-title.uppercase.text-center Экологичность и чистота
            %p.text-center
              Во время обработки изделий мы используем безопасные пигменты и экологически чистые эмали.

        .col-md-3
          .made-ourselves
            .img
              = image_tag 'pages/about/saw.png'
            %h3.advantage-title.uppercase.text-center Мы мастерим сами
            %p.text-center
              Благодаря своей команде дизайнеров и мастеров, мы можем выполнить любое изделие на заказ!

        .col-md-3
          .made-in
            .img
              = image_tag 'pages/about/church.png'
            %h3.advantage-title.uppercase.text-center Произведено в России
            %p.text-center
              Мы гарантируем высокое качество своих изделий, потому что они из России и с любовью :)

  .whats-new.cream-bg.row
    .col-md-4.col-md-offset-4
      .header
        %h1.title.text-center Что у нас нового?
        %p.desc.text-center
          Узнайте самым первым о наших новых изделиях, скидках, мастерклассах и жизни Оули!

        = render 'shared/subscribe'

