= render partial: 'shared/seo', locals: { page: @page }

.blog.page.col-md-12
  .header.row{style: "background: url(#{@page.image.url}) no-repeat"}
    .container
      %h1= @page.heading
      %p.text= @page.text
      %p Узнайте самым первым о наших новых изделиях, скидках, мастерклассах и жизни Оули!

      = render 'shared/subscribe'

  .posts.cream-bg.row
    .container
      = render @posts