= render partial: 'shared/seo', locals: { page: @page }

.blog.page.col-md-12
  .header.row{style: "background: url(#{@page.image.url}) no-repeat"}
    .container
      .row
        .col-md-10
          %h1= @page.heading
          %p.text= raw @page.text
          %p Узнайте самым первым о наших новых изделиях, скидках, мастерклассах и жизни Оули!

        .col-md-5
          = render 'shared/subscribe'

  .posts.cream-bg.row.can-be-empty
    .container
      .col-md-8
        - if @posts.present?
          = render 'posts/list'
          //= render @posts

        - else
          %h2.text-center Статей не найдено
          %h3.turn-back.text-center
            = link_to 'Вернуться в блог', pages_blog_path

        = paginate @posts

      .col-md-4.tags-list
        %h2 Тэги:
        - @tags.each do |tag|
          %p.tag-name
            = link_to tag, pages_blog_path(tag: tag) 
