= render partial: 'shared/seo', locals: { page: @page }

.home.page.col-md-12
  .kid.row
    %section.sample{"data-slidizle" => ""}
      %ul.slider-content{"data-slidizle-content" => ""}
        - @images.each do |image|
          %li.slider-item{style: "background-image: url(assets/slider/#{image.split('/').last})"}
      %header
        %h2 Custom Navigation
        %h3 I have a custom navigation with image thumbs
      .slider-next{"data-slidizle-next" => ""}
      .slider-previous{"data-slidizle-previous" => ""}
      %ul.slider-navigation{"data-slidizle-navigation" => ""}
        - @images.each do |image|
          %li.slider-navigation-item{style: "background-image: url(assets/slider/#{image.split('/').last})"}
      .slidizle-loading

  .about.row
    .container
      .description
        .slogan
          = image_tag 'home/slogan.png'

        %p.text
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .about-btn
          = link_to pages_about_path, class: 'btn btn-green-transparent' do
            Узнать больше об Оули
            = image_tag 'home/about-arrow.png', class: 'btn-transparent-img'

  .our-products.white-bg.row
    .container
      %h1.text-center
        Наши изделия

      = render 'categories/list', categories: @categories

  .choices-from-our-customers.white-bg.row
    .container
      %h1.text-center
        Выбор наших покупателей:

      = render 'products/viewed', products: @popular_products

  .owly-blog.cream-bg.row
    .container
      %h1.text-center
        Блог Оули

      .blog.row
        .col-md-6
          .posts
            = render @posts


        .col-md-5.col-md-offset-1
          .whats-new
            .img
              = image_tag 'mini-owly.png'

            .title.text-center
              Что у нас нового?
            
            .desc
              %p.text-center
                Узнайте самым первым о наших новых изделиях, скидках, мастерклассах и жизни Оули!

            = render 'shared/subscribe'


:javascript
  jQuery(function($) {

    // setup slidizle
    $('[data-slidizle]').slidizle({
      beforeChange : function(api) {
        console.log('previous', api.getPreviousSlide().index());
        console.log('current', api.getCurrentSlide().index());
        console.log('next', api.getNextSlide().index());
        console.log('previous active', api.getPreviousActiveSlide().index());
      }
    });

  });