.home.col-md-12
  .kid.row

  .about.row
    .container
      .description
        .slogan
          = image_tag 'home/slogan.png'

        %p.text
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .about-btn
          = link_to root_path, class: 'btn btn-green-transparent' do
            Узнать больше об Оули
            = image_tag 'home/about-arrow.png'

  .our-products.row
    .container
      %h1.text-center
        Наши изделия

      .categories
        - @categories.each do |category|
          - cache category do
            .category.col-md-3.col-xs-6
              = image_tag category.preview.url(:medium)

              .title.text-center.uppercase
                = category.name

  .choices-from-our-customers.row
    .container
      %h1.text-center
        Выбор наших покупателей:

      .products.row
        - @products.each do |product|
          .col-md-4
            .product
              .top
                = image_tag Faker::Avatar.image
                
                .name.text-center
                  = link_to product.name, root_path

                .rating.text-center
                  = image_tag "home/ratings/#{product.rating.to_i}.png", class: 'rating'
                
                .price.text-center
                  %strong
                    = product.price
                    %span руб.

              .bottom
                .favorite
                  = link_to image_tag('home/favorite.png'), root_path

                .add-to-cart.text-center.uppercase
                  = link_to 'Добавить в корзину', "javascript:void(0);", method: :put, data: { "ng-click"=>"app.addToCart('#{get_cart_id}', #{product.id})" }

  .owly-blog.row
    .container
      %h1.text-center
        Блог Оули

      .blog.row
        .col-md-6
          .posts
            - @posts.each do |post|
              - cache post do
                .post
                  .date
                    %p= post.created_at

                  .title
                    = link_to post.title, root_path

                  .desc
                    %p= post.desc


        .col-md-5.col-md-offset-1
          .whats-new
            .img
              = image_tag 'home/mini-owly.png'

            .title.text-center
              Что у нас нового?
            
            .desc
              %p.text-center
                Узнайте самым первым о наших новых изделиях, скидках, мастерклассах и жизни Оули!

            .subscribe.form
              = form_tag subscriptions_create_path, method: :post do
                = text_field_tag :email, nil, placeholder: 'Ваш e-mail'
                = submit_tag 'Быть в курсе', class: 'btn btn-green'


:javascript
  $('.menu').addClass('original').clone().insertAfter('.menu').addClass('cloned').css('position','fixed').css('top','0').css('margin-top','0').css('z-index','500').removeClass('original').hide();

  scrollIntervalID = setInterval(stickIt, 10);


  function stickIt() {

    var orgElementPos = $('.original').offset();
    orgElementTop = orgElementPos.top;               

    if ($(window).scrollTop() >= (orgElementTop)) {
      // scrolled past the original position; now only show the cloned, sticky element.

      // Cloned element should always have same left position and width as original element.     
      orgElement = $('.original');
      coordsOrgElement = orgElement.offset();
      leftOrgElement = coordsOrgElement.left;  
      widthOrgElement = orgElement.css('width');
      $('.cloned').css('left',leftOrgElement+'px').css('top',0).css('width',widthOrgElement).show();
      $('.original').css('visibility','hidden');
    } else {
      // not scrolled past the menu; only show the original menu.
      $('.cloned').hide();
      $('.original').css('visibility','visible');
    }
  }