= render partial: 'shared/seo', locals: { page: @page }

.how-to.page.col-md-12
  .header.row{style: "background: url(#{@page.image.url}) no-repeat"}
    .container
      %h1= @page.heading
      %p.text= raw @page.text

  .how-to-get.cream-bg.row
    .container
      .header.no-top-padding
        %h1 Как получить покупку?
        %p.thin
          Если вы из г. Санкт-Петербург, то можете получить ваш заказ, выбрав нужный способ доставки на этапе оформления заказа на сайте:

      .by-myself.block.row
        .col-md-1
          = image_tag 'pages/how_to/by-myself.png', class: 'img'

        .col-md-11
          %h2.uppercase Забрать самостоятельно
          %p
            Вы можете забрать наши изделия самостоятельно по адресу:
            %br/
          %strong ул. Льва Толстого, 9 БЦ “Толстой сквер”

      .delivery-truck.block.row
        .col-md-1
          = image_tag 'pages/how_to/delivery-truck.png', class: 'img'

        .col-md-11
          %h2.uppercase Доставка по Санкт-Петербургу
          %p
            Мы осуществляем доставку по г. Санкт-Петербург в пределах кольца.
            %br/
            %p 
              Стоимость доставки - 
              %strong 300
              руб.
            %p 
              При заказе на сумму от 
              %strong 3 000 
              руб. - 
              %strong.uppercase Доставка бесплатно!

      %p 
        Мы также осуществляем доставку и в другие города России с помощью транспортных компаний или Почтой России. Подробности вы можете узнать у наших менеджеров по телефону: +7 (812) 498-1000, или задайте вопрос в форме обратного звонка.

  .how-to-pay.white-bg.row
    .container
      .header.no-top-padding
        %h1 Как оплатить?
        %p.thin 
          Мы работаем как с физическими, так и юридическими лицами. При оформлении заказа на сайте вы можете выбрать, какой способ оплаты вам будет удобен:

      .cash.block.row
        .col-md-1
          = image_tag 'pages/how_to/wallet.png', class: 'img'

        .col-md-11
          %h2.uppercase Оплата наличными при получении
          %p
            Вы можете оплатить свою покупку наличными нашему курьеру при получении заказа (он привезет Вам чек), или когда будете забирать заказ самостоятельно.

      .delivery-truck.block.row
        .col-md-1
          = image_tag 'pages/how_to/price.png', class: 'img'

        .col-md-11
          %h2.uppercase Счет для юридических лиц
          %p
            Мы отправляем счет на оплату на адрес почты, указанный при оформлении заказа.
      %p 
        Если вы хотите оплатить заказ другим способом, который не указан на сайте, то можете связаться с нами по телефону: +7 (812) 498-1000, или задайте вопрос в форме обратного звонка.

      %br/
      %p
        Информацию о гарантиях и возврате вы можете узнать 
        = link_to 'здесь.', pages_warranty_path

  .questions.dark-cream-bg.no-bottom-padding.row#question-form
    .container
      .question-form
        %p.text-center
          По любым вопросам Вы можете позвонить нам по телефону:  
          %span +7 (812) 498-10-00

        %p.text-center
          Или заполните форму обратного звонка и мы свяжемся с Вами в ближайшее время

        = render 'questions/new'

        = image_tag 'owly.png', class: 'owly-img'