= render partial: 'shared/seo', locals: { page: @page }

.search.page.col-md-12
  .header.row{style: "background: url(#{@page.image.url}) no-repeat"}
    .container

      - if @products || @categories || @posts
        .row
          .col-md-4
            .results
              %h2.block-title Товары

              - if @products.present?
                - @products.each do |product|
                  .product
                    = link_to product.name, product_path(product.id)

              - else
                %p Ничего не найдено

          .col-md-4
            .results
              %h2.block-title Категории

              - if @categories.present?
                - @categories.each do |category|
                  .category
                    = link_to category.name, category_path(category.slug)

              - else
                %p Ничего не найдено

          .col-md-4
            .results
              %h2.block-title Статьи

              - if @posts.present?
                - @posts.each do |post| 
                  .post
                    = link_to post.title, post_path(post.id)

              - else
                %p Ничего не найдено

      - else
        %p.text-center Ничего не найдено или введен пустой запрос