= render partial: 'shared/seo', locals: { page: @page }

.cart.page.col-md-12.cream-bg{{'ng-controller'=>'CartCtrl as cart'}}
  .header.row{style: "background: url(#{@page.image.url})"}
    .container
      %h1= @page.heading
      %p
        = raw @page.text
        %br/
        Спасибо, что выбираете Оули!

  .cart-items.cream-bg.row
    .container
      .title
        У Вас в Корзине
        = get_cart_count
        = Russian.p(get_cart_count.to_i, "изделие", "изделия", "изделий")

      .list
        - @products.each do |product|
          .product.row
            .col-md-2
              = image_tag product.image.url(:small)

            .col-md-5.first-block
              .product-name
                = link_to product.name, product_path(product.id)

              .product-price
                %strong
                  = product.price
                  %span руб.

              .product-calc
                .value
                  = form_tag set_count_path(product_id: product.id), method: :patch do
                    = number_field_tag :count, product.count

                .actions
                  .increment
                    = link_to image_tag('pages/cart/increment.png'), increment_path(product_id: product.id), method: :put

                  .decrement
                    = link_to image_tag('pages/cart/decrement.png'), decrement_path(product_id: product.id), method: :put

            .col-md-5.second-block
              .final-price
                %strong
                  = product.price * product.count.to_i
                  %span руб.

              .delete
                = link_to image_tag('pages/cart/delete.png'), product_delete_path(product_id: product.id), method: :delete

      - if @products.count > 0
        .bottom-block
          .total
            %p
              Итого:
              %span= get_total_amount(@products)
              руб.

          .create-order
            = link_to 'Оформить заказ', "#order", class: 'btn btn-red', data: {'ng-click'=>'cart.orderBlockSet("open")'}

  = render 'orders/new'
