.cart.col-md-12.cream-bg
  .header.row{style: "background: url(#{@page.image.url})"}
    .container
      %h1= @page.heading
      %p
        = @page.text
        %br/
        Спасибо, что выбираете Оули!

  .cart-items.row
    .container
      .title У Вас в Корзине 3 изделия:

      .list
        - @products.each do |product|
          .product.row
            .col-md-2
              = image_tag product.image.url(:small)

            .col-md-5.first-block
              .product-name
                = link_to product.name, product_path(product.id)

              .product-price
                %strong
                  = product.price
                  %span руб.

              .product-calc
                .value
                  2

                .actions
                  .increment
                    = link_to image_tag('pages/cart/increment.png'), increment_path(product_id: product.id), method: :post

                  .decrement
                    = link_to image_tag('pages/cart/decrement.png'), decrement_path(product_id: product.id), method: :post

            .col-md-5.second-block
              .final-price
                %strong
                  = product.price
                  %span руб.

              .delete
                = image_tag 'pages/cart/delete.png'

      .total
        %p
          Итого:
          %span 5000
          руб.