= render partial: 'shared/seo', locals: { page: @post }

.blog-posts.posts.page.col-md-12
  .header.row{style: "background: url(#{@post.image.url})"}
  
  .container.white-bg
    = render @post

    .actions.row
      .col-md-6
        - unless @previous_post.nil?
          .left
            = image_tag 'pages/blog/previous.png'
            = link_to 'Предыдущая статья', post_path(@previous_post.id)

      .col-md-6
        - unless @next_post.nil?
          .right.next-post
            = link_to 'Следующая статья', post_path(@next_post.id)
            = image_tag 'pages/blog/next.png'