.category.col-md-12
  .header.row{style: "background: url(#{@category.background.url})"}
    .container
      %h1= @category.name
      %p= @category.desc

  .container
    .products.row
      .sort-options.col-md-12
        %span.uppercase Сортировать по:
        = link_to 'Цене', category_path(@category.slug, sort: 'cheapest'), class: 'uppercase'
        = link_to 'Цене', category_path(@category.slug, sort: 'most_expensive'), class: 'uppercase'
        = link_to 'Новизне', category_path(@category.slug, sort: 'newest'), class: 'uppercase'
        = link_to 'Популярности', category_path(@category.slug, sort: 'most_popular'), class: 'uppercase'

      = render partial: @products, locals: { col: 3 }
