= render partial: 'shared/seo', locals: { page: @category }

.category.page.col-md-12{"ng-controller"=>"CategoryCtrl as category", "ng-init"=>'CategoryCtrl.getProducts("#{@params[:action]}")'}
  .header.row{style: "background: url(#{@category.background.url}) no-repeat"}
    .container
      .col-md-12
        %h1= @category.name
        %p.text= raw @category.desc

  - if @products.present?
    .products.cream-bg.row
      .container
        .sort-options.col-md-12
          %span.uppercase 
            Сортировать по:

          %span.uppercase.option
            Цене
            = link_to image_tag('sort-up.png'), category_path(@category.slug, sort: 'most_expensive')
            = link_to image_tag('sort-down.png'), category_path(@category.slug, sort: 'cheapest')
            
          = link_to 'Новизне', category_path(@category.slug, sort: 'newest'), class: 'uppercase option'
          = link_to 'Популярности', category_path(@category.slug, sort: 'most_popular'), class: 'uppercase option'


        - @products.each do |product|
          %div.col-md-3.col-sm-6
            .product
              .top
                = link_to image_tag(product.image.url(:medium)), product_path(product)
                
                .name.text-center
                  = link_to product.name, product_path(product)

                .rating.text-center
                  = image_tag "ratings/#{product.rating.to_i}.png", class: 'rating'
                
                .price.text-center
                  %strong
                    = product.price
                    %span руб.

              .bottom
                .favorite
                  = link_to "javascript:void(0);", method: :put, data: { "ng-click"=>"app.switchFavorite('#{get_favorites_id}', #{product.id})" } do
                    = product.decorate.favorite_status(get_favorites_id)

                .add-to-cart.text-center.uppercase
                  = link_to 'Добавить в корзину', "javascript:void(0);", method: :put, data: { "ng-click"=>"app.addToCart('#{get_cart_id}', #{product.id})" }


        = paginate @products
        

    - unless get_viewed_list.count == 0
      .recent-showed.cream-bg.row.no-bottom-padding
        .container
          %h1.text-center Вы недавно смотрели:
          
          .cateogory-viewed
            = render 'products/viewed', products: @viewed_products

        = image_tag 'owly.png', class: 'owly-img'

  - else
    .container
      .row.can-be-empty.white-bg
        - if @category.children.present?
          %h1.text-center= @category.name
          = render partial: 'categories/list', locals: { categories: @category.children }

        - else
          %h2.text-center В этой категории пока нет товаров

