.products.pattern.owl-carousel.col-md-12
  - products.each do |product|
    .col-md-4.carousel-item.carousel-item
      .product.item
        .top
          = link_to image_tag(product.image.url(:medium), class: 'lazyOwl'), product_path(product)

          .name.text-center
            = link_to product.name, product_path(product)

          .rating.text-center
            = image_tag "ratings/#{product.rating.to_i}.png", class: 'rating'
          
          .price.text-center
            %strong
              = product.price
              %span руб.

        .bottom
          .favorite
            = link_to "javascript:void(0);", method: :put, data: { "ng-click"=>"app.switchFavorite('#{get_favorites_id}', #{product.id})" } do
              = product.decorate.favorite_status(get_favorites_id)

          .add-to-cart.text-center.uppercase{{ "ng-click"=>"app.addToCart('#{get_cart_id}', #{product.id})" }}
            = link_to 'Добавить в корзину', "javascript:void(0);"

:javascript
  $(document).ready(function() {
   
    $(".owl-carousel").owlCarousel({
      items : 3,
      navigation : true
    }); 
   
  });

:javascript
  $(document).ready(function() {
    $(".add-to-cart").click(function() {
      $(this).find('a').text('Добавлено');

      window.setInterval(function() {
        $(this).find('a').text('Добавить в корзину');
      }, 2000);    
    })
  });