= render partial: 'shared/seo', locals: { page: @product }

.product-item.page.cream-bg
  .item
    .product-card
      .container
        .col-md-12
          %h1.name= @product.name
          = image_tag "ratings/#{@product.rating.to_i}.png", class: 'rating'

        .col-md-4
          .left
            = image_tag @product.image.url(:large)

        .col-md-6.col-md-offset-1
          .right
            %p.desc= @product.desc
            
            - if @product.height || @product.width || @product.depth
              .params
              .img
                = image_tag 'products/params.png'

              .stats
                - if @product.height
                  %strong 
                    Высота:
                    %span= @product.height
                    мм.
                  %br/

                - if @product.width
                  %strong 
                    Ширина:
                    %span= @product.width
                    мм.
                  %br/

                - if @product.depth
                  %strong 
                    Глубина:
                    %span= @product.depth
                    мм.

                - if @product.length
                  %strong 
                    Глубина:
                    %span= @product.length
                    мм.

            - if @product.material
              .material
                .img
                  = image_tag 'products/material.png'

                .stats
                  %p= @product.material

            .price
              %p
                Цена:
                %span
                  = @product.price
                  %span.rub руб.

            .actions
              .add-to-cart
                = link_to 'Добавить в корзину', "javascript:void(0);", method: :put, data: { "ng-click"=>"app.addToCart('#{get_cart_id}', #{@product.id})" }, class: 'btn btn-red'

              .favorite
                = link_to "javascript:void(0);", method: :put, data: { "ng-click"=>"app.switchFavorite('#{get_favorites_id}', #{@product.id})" } do
                  = @product.decorate.favorite_status(get_favorites_id)

    .reviews
      .container
        .col-md-6
          %h1.text-center Кто уже приобрел:

          - if @reviews.present?
            .reviews-list
              - @reviews.each do |review|
                .review
                  %p.date= review.created_at
                  %p.text= review.text
                  %p.author= review.name

          - else
            %p.text-center Пока нет отзывов


        .col-md-6
          .add-review{{'ng-if'=>'app.reviewTab === 1'}}
            .img
              = image_tag 'mini-owly.png'
            .title.text-center Оставьте свой отзыв!
            %p.text-center Тут Вы можете написать отзыв о нашем изделии и оценить его!
            = link_to 'Оставить отзыв', 'javascript:void();', class: 'btn btn-green', data: { 'ng-click'=>'app.getReviewForm()' }

          .review-form{{'ng-if'=>'app.reviewTab === 2'}}
            .title.text-center Ваш отзыв:

            .form.col-md-10.col-md-offset-2
              = form_for Review.new do |f|
                = f.text_field :name, placeholder: 'Ваше имя'
                = f.text_field :email, placeholder: 'Ваш e-mail'
                = f.text_area :text, placeholder: 'Ваш отзыв'
                = f.hidden_field :product_id, value: params[:id]
                = f.submit 'Отправить отзыв', class: 'btn btn-green'

    .related-products
      .container
        %h1.text-center
          С этим изделием часто приобретают::

        = render 'products/viewed', products: @related_products

      = image_tag 'owly.png', class: 'owly-img'