!!!
%html
  %head
    %title
      = "Оули" + " | #{yield(:seo_title)}"
    %meta{:content => "#{yield(:seo_keywords)}", :name => "keywords"}/
    %meta{:content => "#{yield(:seo_description)}", :name => "description"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "eI88KH6B3e4rwv5hNbGVRIuGfazYrgA4qbIe6gAOEo8", :name => "google-site-verification"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}/
  %body{{'ng-app'=>'Owly'}}
    .container-fluid{{'ng-controller'=>'AppCtrl as app'}}
      .row.header
        = render partial: 'shared/header'
        = session[:guest_id]

      .row.content
        = render partial: 'shared/flashes'
        = yield
        
      .row.footer
        = render partial: 'shared/footer'



:javascript
  $('.menu').addClass('original').clone().insertAfter('.menu').addClass('cloned').css('position','fixed').css('top','0').css('margin-top','0').css('z-index','500').removeClass('original').hide();

  scrollIntervalID = setInterval(stickIt, 10);


  function stickIt() {

    var orgElementPos = $('.original').offset();
    orgElementTop = orgElementPos.top;               

    if ($(window).scrollTop() >= (orgElementTop) && $(window).width() > 992) {
      // scrolled past the original position; now only show the cloned, sticky element.

      // Cloned element should always have same left position and width as original element.     
      orgElement = $('.original');
      coordsOrgElement = orgElement.offset();
      leftOrgElement = coordsOrgElement.left;  
      //widthOrgElement = orgElement.css('width');
      $('.cloned').css('left',leftOrgElement+'px').css('top',0).css('width','100%').show();
      $('.original').css('visibility','hidden');
    } else {
      // not scrolled past the menu; only show the original menu.
      $('.cloned').hide();
      $('.original').css('visibility','visible');
    }
  }

:javascript
  $('.favorite img').click(function() {
    if($(this).hasClass("active")) {
      $(this).attr("src", "#{asset_path 'home/favorite.png'}");
    } else {
      $(this).attr("src", "#{asset_path 'active-favorite.png'}");
    }

    $(this).toggleClass('active');
  });



